:host ::ng-deep  .p-frozen-column {
    font-weight: bold;
}

:host ::ng-deep .p-datatable-frozen-tbody {
    font-weight: bold;
}

:host ::ng-deep .p-progressbar {
    height:.5rem;
}

.label-expansion{
    font-weight: 600;
}
label{
    font-weight: 600 !important;
}